In [18]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import mypass
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
# Read in JSON and convert to DataFrame
json_file = "Resources/country_codes.json"
country_codes_df = pd.read_json(json_file)
country_codes_df.head()

  Code            Name
0   AF     Afghanistan
1   AX   Åland Islands
2   AL         Albania
3   DZ         Algeria
4   AS  American Samoa

In [19]:
# Connect to local database
conn_string = f"root:{mypass}@127.0.0.1/etl5_db"
engine = create_engine(f"mysql://{conn_string}")

In [23]:
# Check for tables
engine.table_names()

['country_codes']

In [21]:
# Use pandas to load JSON converted DataFrame into database
country_codes_df.to_sql(name='country_codes', con=engine, if_exists='replace', \
                        index=True)

In [22]:
# Confirm that data has been added
pd.read_sql_query('select * from country_codes', con=engine).head()

   index Code            Name
0      0   AF     Afghanistan
1      1   AX   Åland Islands
2      2   AL         Albania
3      3   DZ         Algeria
4      4   AS  American Samoa