In [18]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import mypass
import pymysql
pymysql.install_as_MySQLdb()

In [24]:
# Read in JSON and convert to DataFrame
json_file = "Resources/country_codes.json"
country_codes_df = pd.read_json(json_file)
country_codes_df.head()

  Code            Name
0   AF     Afghanistan
1   AX   Åland Islands
2   AL         Albania
3   DZ         Algeria
4   AS  American Samoa

In [27]:
country_codes_df.rename(columns={'Name': 'Country'}).head()

  Code         Country
0   AF     Afghanistan
1   AX   Åland Islands
2   AL         Albania
3   DZ         Algeria
4   AS  American Samoa

In [19]:
# Connect to local database
conn_string = f"root:{mypass}@127.0.0.1/etl5_db"
engine = create_engine(f"mysql://{conn_string}")

In [23]:
# Check for tables
engine.table_names()

['country_codes']

In [21]:
# Use pandas to load JSON converted DataFrame into database
country_codes_df.to_sql(name='country_codes', con=engine, if_exists='replace', \
                        index=True)

In [22]:
# Confirm that data has been added
pd.read_sql_query('select * from country_codes', con=engine).head()

   index Code            Name
0      0   AF     Afghanistan
1      1   AX   Åland Islands
2      2   AL         Albania
3      3   DZ         Algeria
4      4   AS  American Samoa

In [29]:
# Read in CSV and convert to DataFrame
csv_file = "Resources/popNIndex.csv"
country_df = pd.read_csv(csv_file)
country_df.head()

   Unnamed: 0      Country  Population  Consumer_price_index Code
0           1  Afghanistan    36373176                111.20  AFG
1           2      Albania     2934363                105.20  ALB
2           3      Algeria    42008054                215.30  DZA
3           4       Angola       55679                227.21  AGO
4           5    Argentina       76953                165.24  ARG

In [43]:
# Use pandas to load CSV converted DataFrame into database
#country_df = country_df.drop(columns=['Code'])
country_df.head()

   Unnamed: 0      Country  Population  Consumer_price_index
0           1  Afghanistan    36373176                111.20
1           2      Albania     2934363                105.20
2           3      Algeria    42008054                215.30
3           4       Angola       55679                227.21
4           5    Argentina       76953                165.24

In [45]:
joined_country_df = country_df.merge(country_codes_df, left_on='Country', right_on='Country', how='outer')

KeyError: 'Country'