In [1]:
#Dependancies

import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

from config import mypass

In [2]:
#Establishes a connection with the sqlite database

engine = create_engine('sqlite:///SMM.db')
Base.metadata.create_all(engine)

In [3]:
#Converts sqlite data into Pandas dataframes

levelsDB = pd.read_sql_query('select * from levels', con=engine)
authorsDB = pd.read_sql_query('select * from authors', con=engine)

OperationalError: (sqlite3.OperationalError) no such table: levels [SQL: 'select * from levels'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [4]:
#Renames columns for merging

levelsDB_rn = levelsDB.rename(columns={"id": "level_id",
                                       "name": "level_name"})

authorsDB_rn = authorsDB.rename(columns={"id": "author_id",
                                       "name": "author_name"})

In [5]:
#Creates new DBs for levels and authors that only uses the columns we need from each

levelsDB_trn = levelsDB_rn[["theme", "difficulty", "tag", "liked", "played", "shared", "clear_rate",
                           "tries_taken", "tries_success", "author_id"]].copy()

authorsDB_trn = authorsDB_rn[["author_id", "medals", "country"]].copy()

In [6]:
# Set index for each table to be identical
levelsDB_trn.set_index("author_id", inplace=True)

authorsDB_trn.set_index("author_id", inplace=True)

In [7]:
#Creates a merged table of all the mario maker data we need

merge_mario = pd.merge(authorsDB_trn, levelsDB_trn, on="author_id")
clean_mario = merge_mario.dropna()
clean_mario_trn = clean_mario[["medals", "country", "liked", "played"]].copy()

In [8]:
#Creates a table with values for number of levels per country for later use

level_counts = clean_mario_trn["country"].value_counts().tolist()
level_countries = clean_mario_trn["country"].value_counts().index.tolist()

level_list = pd.DataFrame({'country' : level_countries,
 'total_levels' : level_counts
  })
level_list.set_index("country", inplace=True)

In [9]:
#Aggregates and renames data for better readability

mario_countries = clean_mario_trn.groupby(clean_mario_trn['country']).aggregate({'medals': 'sum', 'liked': 'sum', 'played': 'sum'})

mario_countries_rn = mario_countries.rename(columns={"medals": "total_medals",
                                       "liked": "total_likes",
                                                    "played": "total_plays"})

In [10]:
#Merges in the values from the 'number of levels' table created earlier

merge_mario_countries = pd.merge(mario_countries_rn, level_list, on="country")

In [11]:
#Establishes a connection to the mysql database

connection_string = f"root:{mypass}@localhost/mario_db"
engine = create_engine(f'mysql://{connection_string}')

In [12]:
#Pushes the finished mario dataframe to the mysql database as a table

merge_mario_countries.to_sql(name='mario_table',\
                           con=engine, if_exists='append', index=False)